[
  {
    "cpu": ${fits_cpu},
    "memory": ${fits_memory},
    "essential": true,
    "image": "${fits_container_image}",
    "name": "fits",
    "networkMode": "awsvpc",
    "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
            "awslogs-group": "${fits_log_group_name}",
            "awslogs-region": "${log_group_region}"
        }
    },
    "mountPoints": ${fits_mount_points}
  }
]
